div {
    background-color: #dede6b;
}

.style {
    color: #000000;
}

p {
    color: #242424;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}